<!-- {% extends 'base.html' %} -->


  <h1>Register</h1>



  <form method="post">
    <label for="name">Name</label> <br>
    <input name="name" id="name" required> <br>
    <label for="email">Email Address</label><br>
    <input name="email" id="email" required><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" id="password" required><br>
    <label for="confirm-password">Confirm Password</label><br>
    <input type="password" name="password" id="password" required><br>
   

    <input type="submit" value="Register">
  </form>
<!-- {% endblock %} -->